<%- include("./partials/header") -%>
<%- include("./partials/navbar") -%>
<div class="under-navbar"></div>

<main class="user-area">

    <!-- Profil user -->
    <section class="container user-profil d-flex justify-content-center">
        <div class="card">
            <img src="<%= profil.image %>" class="card-img-top" alt="...">
            <div class="card-body d-flex flex-column align-items-center">
              <h5 class="card-title"><span style="text-transform: capitalize;"><%= profil.firstname %></span> <span style="text-transform: capitalize;"><%= profil.lastname %></span></h5>
              <ul class="d-flex flex-column align-items-center">
                  <li class="birthday"><%= profil.birthday %></li>
                  <li class="email"><%= profil.email %></li>
              </ul>
            <a href="#" class="btn btn-primary">Changer image</a>
            <a href="#" class="btn btn-primary">Changer information</a>
            <a href="#" class="btn btn-primary">Changer mot de passe</a>
            <a href="" class="btn btn-danger">Supprimer compte</a>
            </div>
        </div>
    </section>

    <!-- List post created -->
    <section class="list-post d-flex flex-column align-items-center">

        <% if (posts.length === 0) { %>
            <h1>Vous n'avez pas crée d'article</h1>
            <a href="" class="no-post-callaction">Crée votre propre article !</a>
        <% } else { %>
        <h1>Les articles que vous avez crée</h1>
        <div id="accordion" class="w-75 p-3">

            <% posts.forEach(function(entry) {%>
            <!-- One post -->
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapse<%= entry.id_post %>" aria-expanded="true" aria-controls="collapseOne">
                    <%= entry.title %>
                  </button>
                </h5>
                <p><%= entry.category %></p>
              </div>             
              <div id="collapse<%= entry.id_post %>" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                  <div class="row">
                      <div class="col-lg-3">
                          <img src="<%= entry.image %>" alt="">
                      </div>
                      <div class="col-lg-7">
                          <p><span>Contenu: </span><%= entry.content %></p>
                      </div>
                      <div class="col-lg-1">
                          <ul class="status">
                              <li><%= entry.good_status %> <i class="fas fa-thumbs-up"></i></li>
                              <li><%= entry.bad_status %> <i class="fas fa-thumbs-down"></i></li>
                              <li><%= entry.comment %> <i class="fas fa-comment"></i></li>
                          </ul>
                      </div>
                      <div class="col-lg-1">
                        <ul class="btn">
                            <li><a href="">Editer</a></li>
                            <li><a href="">Modifier</a></li>
                            <li><a href="">Supprimer</a></li>
                        </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <%});%>
        <% } %>
        </div>
    </section>

    <section class="list-like">
        <h1>Vous avez reagi a ces articles</h1>
    </section>
</main>

<%- include('./partials/footer') -%>